################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmailDispatcherAPI/bin/Debug/net10.0
/EmailDispatcherAPI/.vs/EmailDispatcherAPI
/EmailDispatcherAPI/obj
